name: Build and Delivery

on:
  workflow_run:
    workflows: ["Test Python App"]
    branches: [main]
    types:
      - completed

jobs:
  cd:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      # Критически важно:
      - name: Checkout repository
        uses: actions/checkout@v4 # загружает файлы репозитория в раб. директорию github.workspace, без этого докер не видит Dockerfile
        with:
          fetch-depth: 0 # Если нужна полная история коммитов

      - name: Verify Dockerfile exists
        run: |
          ls -la
          if [ ! -f "Dockerfile" ]; then
            echo "Dockerfile not found in root directory!"
            exit 1
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: . # Собирает из текущей директории
          # file: ./Dockerfile # Явно укажите путь, если нужно
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/my-app:latest
